* { box-sizing: border-box; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card__price {
  color: grey;
  font-size: 22px;
}

.card__button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card__button:hover { opacity: 0.7; }

.card__link {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.card__link:hover { color: purple; }

.card__image:hover { opacity: 0.7; }

.row {
  display: flex;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="grid--"] {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

/* For tablets: */
@media only screen and (min-width: 660px) {
  .grid--s { grid-template-columns: repeat(2, 1fr); }
}

/* For desktop: */
@media only screen and (min-width: 990px) {
  .grid--m { grid-template-columns: repeat(3, 1fr); }
}

/* For desktop: */
@media only screen and (min-width: 1320px) {
  .grid--l { grid-template-columns: repeat(4, 1fr); }
}

.image {
  width: 100%;
}

.product-details__container {
  width: 50%;
  margin: 0 auto;
}
