.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card__price {
  color: grey;
  font-size: 22px;
}

.card__button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card__button:hover {
  opacity: 0.7;
}

.card__link {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.card__link:hover {
  color: purple;
}

.card__image:hover {
  opacity: 0.7;
}
